<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"  content="width=device-width, initial-scale=1.0, user-scalable=no, height=device-height, maximum-scale=1.0" />
  <meta name="title" content="대학내일, 20대를 위한 라이프 매거진" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta property="og:title" content="대학내일, 20대를 위한 라이프 매거진" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <link rel="icon" href="../../../resources/images/favicon.png" />
  <link rel="stylesheet" href="../../../resources/plugins/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="../../../resources/plugins/selectric/selectric.css" />
  <link rel="stylesheet" href="../../../resources/plugins/datepicker/tui-time-picker.css" />
  <link rel="stylesheet" href="../../../resources/plugins/datepicker/tui-date-picker.css" />
  <link href="../../../resources/plugins/dropzone/dropzone.min.css" rel="stylesheet" />
  <link href="../../../resources/plugins/cropper/cropper.css" rel="stylesheet" />
  <link href="../../../resources/plugins/froala/froala_editor.pkgd.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../../../resources/plugins/jqueryui/jquery-ui.min.css" />
  <link rel="stylesheet" href="../../../resources/plugins/fullcalendar/fullcalendar.css" />
  <link rel="stylesheet" href="../../../resources/css/style.css" />
  <script src="../../../resources/plugins/jquery-3.7.1.min.js"></script>
  <script src="../../../resources/plugins/swiper/swiper-bundle.min.js"></script>
  <script src="../../../resources/plugins/selectric/jquery.selectric.js"></script>
  <script src="../../../resources/plugins/gsap/gsap.min.js"></script>
  <script src="../../../resources/plugins/datepicker/tui-time-picker.js"></script>
  <script src="../../../resources/plugins/datepicker/tui-date-picker.js"></script>
  <script src="../../../resources/js/common-ui.js"></script>
  <script src="../../../resources/plugins/dropzone/dropzone.min.js"></script>
  <script src="../../../resources/plugins/cropper/cropper.js"></script>
  <script src="../../../resources/plugins/froala/froala_editor.pkgd.min.js"></script>
  <script src="../../../resources/plugins/jqueryui/jquery-ui.min.js"></script>
  <script src="../../../resources/plugins/fullcalendar/fullcalendar.js"></script>
  <script src="../../../resources/plugins/fullcalendar/popper.min.js"></script>
  <script src="../../../resources/plugins/fullcalendar/tooltip.min.js"></script>
  <script src="../../../resources/plugins/fullcalendar/index.global.min.js"></script>
  <script src="../../../resources/plugins/fullcalendar/ko.global.js"></script>
  <script src="../../../resources/js/mypage-action.js"></script>  <script src="../../../resources/js/base.js"></script>  
  <script src="../../../resources/js/util.js"></script>
  <title>대학내일, 20대를 위한 라이프 매거진</title>


  <script>
    darkModeHandler.init();
  </script>


</head>

<body>
  <div id="container">
    <!-- 헤더 -->

    <header id="header">
      <div class="section-inner">
        <div class="left-box">
          <div class="logo">
            <a href="../main/main.html">
              <h1><img src="../../../resources/images/logo.png" alt="20 대학내일" /></h1>
            </a>
          </div>
          <nav class="nav">
            <div class="nav-list">
              <div class="nav-item">
                <a href="../magazine/magazine.html" class="nav-btn">매거진</a>
              </div>
              <div class="nav-item">
                <a href="../voice/voice.html" class="nav-btn">글 쓰는 20대</a>
              </div>
              <div class="nav-item">
                <a href="../community/community.html" class="nav-btn fc-g2">커뮤니티</a>
              </div>
              <div class="nav-item">
                <a href="../schedule/schedule.html" class="nav-btn fc-g2">캘린더</a>
              </div>
            </div>
          </nav>
        </div>
        <div class="right-box">
          <div class="menu-box" id="login">            
          </div>
        </div>

        <!-- 검색창 -->
        <div class="search-bar-view-box">
          <div class="search-bar-box">            
            <button type="button" class="search-button" id="search-button-base1">
              <i class="icon-box icon-search"></i>
              <span>검색하기</span>
            </button>
            <div class="input-cover">
              <label for="search" class="form-label txt-hidden">검색</label>
              <input type="text" id="searchKeyword1" name="search" title="검색" class="form-input" autocomplete="off" placeholder="검색하실 내용을 입력하세요." />
            </div>
            <button type="button" class="close-btn">닫기</button>
          </div>
        </div>
        <!-- //검색창 -->

        <div class="mobile-box">
          <button type="button" class="mobile-navigation-menu" id="btnAllmenuOpen" onclick="mobileMenuController.open('','#allMenuContainer', false)">
            <span class="icon"></span>
          </button>
          <div class="logo">
            <a href="../main/main.html">
              <h1><img src="../../../resources/images/logo.png" alt="20 대학내일" /></h1>
            </a>
          </div>
          <!-- 로그인 후 -->
          <div class="login-box" id="login-box">
          </div>
          <!-- //로그인 후 -->
        </div>
      </div>
    </header>
    <div class="all-menu-container" id="allMenuContainer">
      <div class="menu-inner">
        <div class="menu-wrapper">
          <div class="menu-header">
            <button type="button" class="btn-menu-close" onclick="mobileMenuController.close('#btnAllmenuOpen', '#allMenuContainer')"><span>닫기</span></button>
            <div class="user-info-box" id="loginMobile">
            </div>
          </div>
          <!-- 검색창 -->
          <div class="search-bar-box">
            <div class="input-cover">
              <label for="search" class="form-label txt-hidden">검색</label>
              <input type="text" id="searchKeyword2" name="search" title="검색" class="form-input" autocomplete="off" placeholder="검색하실 내용을 입력해 보세요." />
            </div>
            <button type="button" class="search-button" id="search-button-base2">
              <i class="icon-box icon-search"></i>
              <span>검색하기</span>
            </button>
          </div>
          <!-- //검색창 -->
          <ul class="menu-list" id="mobile-menu">
          </ul>
          <div class="add-btn-box" id="mobile-menu-footer">
            </div>
        </div>
      </div>
    </div>


    <!-- // 헤더 -->

    <!-- 컨텐츠 -->
    <main id="content">
      <section class="sub-section-wrap write-box-area">
        <div class="article-write-content-title-box">
          <div class="section-inner">
            <div class="title">
              <h2>일정 수정하기</h2>
            </div>
            <div class="write-tip-box write-tip-box-accordion accordion-container accordion-list" data-speed="200">
              <div class="tip-title accordion-header">
                <strong>안내사항</strong>
              </div>
              <div class="text-box accordion-body">
                <div class="text">공유하고 싶은 일정을 등록해 주세요.</div>
                <div class="info-text">
                  등록하신 일정은<br />
                    관리자 승인 후 캘린더에 노출됩니다.
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- //article-write-content-title-box -->
        <div class="article-write-content-box">
          <div class="section-inner article-aside-inner">
            <aside class="aside-content-box">
              <div class="write-tip-box write-tip-box-icon">
                <i class="icon-box icon-bulb"></i>
                <div class="text-box">
                  <div class="text">
                    공유하고 싶은 일정을<br />
                      등록해 주세요.
                  </div>
                  <div class="info-text">
                    등록하신 일정은 관리자 승인 후<br />
                      캘린더에 노출됩니다.
                  </div>
                </div>
              </div>
            </aside>
            <div class="article-write-box-wrap">
              <form action="">
                <div class="article-write-box article-subject-show">
                  <div class="subject"><strong>카테고리</strong></div>
                  <div class="select-box-container select-box-container-row large">
                    <select id="selectBox" name="select" class="form-select">
                      <option value="">선택</option>
                      <option value="1">공유하자</option>
                      <option value="2">신청하자</option>
                    </select>
                    <select id="selectBoxOfficial" name="select" class="form-select" disabled>
                      <option value="">회사/학교 선택</option>
                      <option value="옵션1">삼성전자</option>
                      <option value="옵션2">아시아나항공</option>
                      <option value="옵션3">서울대학교</option>
                    </select>
                    <script>
                      $('#selectBox').on('change', function() {
                        if ($(this).val() == '신청하자') {
                          $(this).next('select').attr('disabled', false);
                        } else {
                          $(this).next('select').attr('disabled', true);
                          $(this).next('select').find('option').eq(0).prop('selected', true);
                        }
                      });
                    </script>
                  </div>
                </div>
                <!-- 카테고리 -->
                <div class="article-write-box article-subject-show">
                  <div class="subject-box">
                    <div class="subject">
                      <strong>기간</strong>
                    </div>
                    <div class="switch-container">
                      <div class="switch-icon">
                        <input type="checkbox" id="date-switch01" class="switch-input" />
                        <label for="date-switch01" class="switch-label">
                          <span class="switch-text">하루 종일</span>
                          <div class="switch-button">
                            <span class="btn-on-off">on/off 버튼</span>
                          </div>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="dete-select-box">
                    <div class="datepicker-container time">
                      <div class="tui-datepicker-input tui-datetime-input input-cover">
                        <label for="datePicker01" class="form-label txt-hidden">시작일</label>
                        <input type="text" class="datepicker-input form-input input-active" readonly id="datePicker01" autocomplete="off" placeholder="시작일" value="2024-06-24 10:30" />
                      </div>
                      <div class="tui-datepicker-wrapper"></div>
                    </div>
                    <div>~</div>
                    <div class="datepicker-container time">
                      <div class="tui-datepicker-input tui-datetime-input input-cover">
                        <label for="datePicker01" class="form-label txt-hidden">종료일</label>
                        <input type="text" class="datepicker-input form-input input-active" readonly id="datePicker02" autocomplete="off" placeholder="종료일" value="2024-06-24 10:30" />
                      </div>
                      <div class="tui-datepicker-wrapper"></div>
                    </div>
                  </div>
                  <script>         

                    $('#date-switch01').change(function() {                  
                      let now = new Date();

                      let today = now.getFullYear() + '-' + (now.getMonth()+1) + '-' + now.getDate();

                      if ($(this).is(':checked')) {
                        if($('#datePicker01').val().length == ''){
                          $('#datePicker01').val(today + ' 00:00');  
                        }else{
                          $('#datePicker01').val($('#datePicker01').val().substring(0,10) + ' 00:00');  
                        }

                        if($('#datePicker02').val().length == ''){
                          $('#datePicker02').val(today + ' 23:59');  
                        }else{
                          $('#datePicker02').val($('#datePicker02').val().substring(0,10) + ' 23:59');  
                        }
                      } 
                      
                      datePicker();
                    });

                    $('#datePicker01').click(function() {
                      $('#date-switch01').prop('checked', false);
                    });

                    $('#datePicker02').click(function() {
                      $('#date-switch01').prop('checked', false);
                    })


                  </script>
                </div>
                <!-- 기간 -->
                <div class="article-write-box article-subject-show">
                  <div class="subject"><strong>제목 및 내용</strong></div>
                  <div class="input-cover-wrap">
                    <div class="input-cover">
                      <label for="subjectText" class="form-label">제목</label>
                      <input type="text" id="subjectText" name="subjectText" title="제목" class="form-input" autocomplete="off" placeholder="30자 이내로 입력" value="제목입니다. 최대 30자까지 작성 가능합니다."  maxlength="30"/>
                    </div>
                    <div class="input-cover length-check-cover">
                      <label for="" class="form-label">내용</label>
                      <textarea  id="editor" class="form-textarea length-check-item full" data-maxLength="1000" placeholder="500자 이내로 입력"  maxlength="500">상세 내용입니다. 최대 500자까지 작성 가능합니다. 상세 내용입니다. 최대 500자까지 작성 가능합니다. 상세 내용입니다. 최대 500자까지 작성 가능합니다.  상세 내용입니다. 최대 500자까지 작성 가능합니다.</textarea>
                      <div class="count-area">
                        <div class="count txt-hidden"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 제목 및 내용 -->
                <div class="article-write-box article-subject-show">
                  <div class="subject"><strong>대표 이미지(선택)</strong></div>

                  <div class="thumbnail-upload-box schedule-thumbnail">
                    <div class="thumbnail-dropzone-box">
                      <div class="dropzone" id="cropDropzone">
                        <div class="dz-message" data-dz-message>
                          <span class="icon-box icon-picture">그림 아이콘</span>
                          <span class="text">
          대표 이미지를 이곳에 드래그하거나 클릭해서 등록해 주세요.
        </span>
                        </div>
                      </div>
                      <div class="cropzone-crop-box">
                        <!-- 등록된 이미지 업로드 -->
                        <img id="uploadImage" class="cropper-hidden" src="../../../resources/images/_temp/test-crop-small.png" alt="" />
                      </div>
                    </div>
                    <!-- //thumbnail-dropzone-box -->
                    <div class="cropzone-image-box"></div>
                    <!-- //cropzone-image-box -->
                    <div class="cropzone-control-box">
                      <button type="button" class="btn full bg-black crop-save-btn">등록하기</button>
                      <div class="half-box">
                        <button type="button" class="btn full bg-g1 crop-delete-btn">삭제하기</button>
                        <button type="button" class="btn full bg-black crop-edit-btn">수정하기</button>
                      </div>
                    </div>
                    <!-- //cropzone-control-box -->
                  </div>
                  <div class="info-text">
                    <p class="text">※ 대표 이미지는 1장만 등록할 수 있습니다.</p>
                    <p class="text">
                      ※ 5MB 이하의 JPG, PNG, GIF 이미지만 업로드 가능합니다.
                    </p>
                    <p class="text">※ 권장 이미지 사이즈는 456px * 252px, 최소 이미지 사이즈는 228px * 126px 입니다.</p>
                  </div>


                  <!-- //thumbnail-upload-box -->
                </div>
                <!-- 썸네일 -->
                <div class="toolbar-box" id="toolbarBtn">
                  
                </div>
                <div class="btn-wrap write-btn-box">
                  <a href="../mypage/mypage.html" class="btn bg-g4 cancel-btn">취소</a>
                  <div class="half-box" id="writeBtn">
                    
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- //article-write-content-box -->
      </section>
      <!-- //write-box-area -->
    </main>
    <!-- //컨텐츠 -->

    <!-- 푸터 -->
    <footer id="footer">
      <div class="section-inner">
        <div class="top-box">
          <div class="nav-box">
            <div class="nav-box-item">
              <a href="../notice/list.html" class="nav-box-btn">공지사항</a>
            </div>
            <div class="nav-box-item">
              <a href="../notice/faq.html" class="nav-box-btn">자주 묻는 질문</a>
            </div>
            <div class="nav-box-item">
              <a href="../notice/register.html" class="nav-box-btn" id="qna-base2">문의/신고하기</a>
            </div>
          </div>
        </div>
        <div class="bottom-box">
          <div class="info-box">
            <strong>(주)대학내일</strong>
            <div class="info-box-list">
              <div class="info-box-item">
                <span>주소 : 서울 마포구 독막로 331</span>
                <span>전화번호 : 02-735-3800</span>
              </div>
              <div class="info-box-item">
                <span>등록번호 : 서울 아 03647</span>
                <span>등록일자 : 2015년 3월 24일</span>
                <span class="mo-block">발행일자 : 2015년 3월 24일</span>
              </div>
              <div class="info-box-item">
                <span>제호 : 대학내일</span>
                <span>발행·편집인 : 김영훈</span>
                <span class="mo-block">청소년 보호 책임자 : 홍승우</span>
              </div>
              <div class="copyright">
            <span> ©UNIVTOMORROW. ALL RIGHTS RESERVED. </span>
            <div class="logo-foundation-box">
              <span> 본 서비스는 </span>
              <img src="../../../resources/images/logo-korea-press-foundation.png" class="logo-foundation" alt="한국언론진흥재단" />
              <span>의 지원을 받아 개발되었습니다.</span>
            </div>
          </div>
            </div>
          </div>
          <div class="nav-box">
            <div class="nav-box-item">
              <a href="../privacy/privacy.html" class="nav-box-btn"><span>개인정보처리방침</span></a>
            </div>
            <div class="nav-box-item">
              <a href="../privacy/terms.html" class="nav-box-btn">이용약관</a>
            </div>
            <div class="nav-box-item">
              <a href="../privacy/copyright.html" class="nav-box-btn">저작권 정책</a>
            </div>
            <div class="nav-box-item">
              <a href="../privacy/youth.html" class="nav-box-btn">청소년 보호 정책</a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- // 푸터 -->
  </div>


  <script>
    // dropzone 라이브러리 참고 - https://docs.dropzone.dev/
    // cropper.js 참고 https://fengyuanchen.github.io/cropperjs/
    // 드래그존
    var croppedFile = null;
    function dropzoneCropperEditScript(option) {
      var id = option.id;
      var minCroppedWidth = option.width;
      var minCroppedHeight = option.height;
      var maxCroppedWidth = option.width * 2;
      var maxCroppedHeight = option.height * 2;
      Dropzone.options[id] = {
        url: '#', // url 경로
        uploadMultiple: false, // 다중업로드 기능
        addRemoveLinks: true, //삭제버튼 표시 여부
        dictRemoveFile: '파일삭제', //삭제버튼 표시 텍스트
        paramName: 'file', //서버에서 사용할 formdata 이름 설정 (default는 file)
        autoProcessQueue: false, // 자동으로 보내기. true : 파일 업로드 되자마자 서버로 요청, false : 서버에는 올라가지 않은 상태. 따로 this.processQueue() 호출시 전송
        maxFiles: 1, // 업로드 파일수
        maxFilesize: 5, // MB 최대업로드용량 : 10 -> 100MB
        // 하나씩 넘겨야 에러 없음
        parallelUploads: 1, // 동시파일업로드 수(이걸 지정한 수 만큼 여러파일을 한번에 컨트롤러에 넘긴다.)
        acceptedFiles: '.jpeg,.jpg,.png,.gif,.JPEG,.JPG,.PNG,.GIF', // 이미지 파일 포맷만 허용
        clickable: true, // 클릭가능여부
        thumbnailWidth: null,
        thumbnailHeight: null,

        init: function() {
          // 등록된 이미지 업로드
          this.options.transformFile('', '', document.querySelector('#uploadImage'));

          // // 크기가 최소보다 작음
          // this.on('thumbnail', function (file) {
          //   let checkSize = file.width >= 528 && file.height >= 292;
          //   if (!checkSize) {
          //     alert('이미지 크기를 다시 확인해주세요.');
          //   }

          //   return;
          // });

          // this.on('thumbnail', function (file) {
          //   if (file.width >= minCroppedWidth || file.height >= minCroppedHeight) {
          //     file.acceptDimensions();
          //   } else {
          //     file.rejectDimensions();
          //   }
          // });

          // 2개이상이면 기존 이미지 제거
          this.on('maxfilesexceeded', function(file) {
            this.removeAllFiles();
            this.addFile(file);
          });
        },

        // 실행불가?
        // accept: function (file, done) {
        //   file.acceptDimensions = done;
        //   file.rejectDimensions = function () {
        //     // done('Image width or height too big.');
        //     $('.dropzone').removeClass('dz-started');
        //     return;
        //   };
        // },

        error: function(file, errorMessage) {
          if (errorMessage.indexOf('File is too big') !== -1) {
            alert('업로드 가능한 파일 크기를 초과했습니다.');
            // 업로드 실패한 파일 제거
            this.removeFile(file);
          } else if (errorMessage.indexOf("You can't upload files of this type") !== -1) {
            alert('지원하지 않는 파일 형식입니다.');
            // 업로드 실패한 파일 제거
            this.removeFile(file);
          } else {
            // alert('파일 업로드 중 오류가 발생했습니다.');
          }
        },

        // 파일 업로드 시
        accept: function(file, done, setImage) {
          let _this = this;
          let _fileName = file.name;

          if (file !== '') {
            // 이미지 가저온 후 드롭존 이미지 제거
            this.removeFile(file);

            // Create an image node for Cropper.js
            var image = new Image();
            image.src = URL.createObjectURL(file);
          } else {
            // 등록된 이미지
            var image = setImage;
          }

          // 크롭이미지 수정일경우 this를 찾을수 없으므로 셋팅된 이미지 기준으로 this 설정
          var $uploadBox = null;
          if (setImage) {
            $uploadBox = $(setImage).closest('.thumbnail-upload-box');
          } else {
            $uploadBox = $(this.element).closest('.thumbnail-upload-box');
          }

          $uploadBox.find('.cropzone-crop-box').append(image);
          $uploadBox.find('.cropzone-crop-box').addClass('show');
          // 버튼 활성화
          $uploadBox.find('.cropzone-control-box').removeClass('active-edit');
          $uploadBox.find('.cropzone-control-box').addClass('active');

          // 등록하기
          $uploadBox.find('.crop-save-btn').off('click');
          $uploadBox.find('.crop-save-btn').on('click', function() {
            let imgSrc = cropper.getCroppedCanvas({}).toDataURL();

            // 수정 이미지 저장
            const binary = atob(imgSrc.split(',')[1]);
            const array = [];
            for (let i = 0; i < binary.length; i++) {
              array.push(binary.charCodeAt(i));
            }
            croppedFile = new File([new Uint8Array(array)], _fileName, {type: 'image/png'});

            $uploadBox.find('.cropzone-image-box').empty();
            $uploadBox.find('.cropzone-image-box').append('<img src="' + imgSrc + '" alt="" />');
            $uploadBox.find('.cropzone-crop-box').removeClass('show');
            $uploadBox.find('.cropzone-image-box').addClass('show');
            // 버튼 활성화
            $uploadBox.find('.cropzone-control-box').removeClass('active');
            $uploadBox.find('.cropzone-control-box').addClass('active-edit');
            // 드롭존 숨기기
            $uploadBox.find('.thumbnail-dropzone-box').addClass('hide');
            // 박스 크기 조절
            $uploadBox.addClass('crop');
          });

          // 수정하기
          $uploadBox.find('.crop-edit-btn').off('click');
          $uploadBox.find('.crop-edit-btn').on('click', function() {
            $uploadBox.find('.cropzone-crop-box').addClass('show');
            $uploadBox.find('.cropzone-image-box').empty();
            $uploadBox.find('.cropzone-image-box').removeClass('show');
            // 버튼 활성화
            $uploadBox.find('.cropzone-control-box').removeClass('active-edit');
            $uploadBox.find('.cropzone-control-box').addClass('active');
            // 드롭존 보이기
            $uploadBox.find('.thumbnail-dropzone-box').removeClass('hide');
            // 박스 크기 조절
            $uploadBox.removeClass('crop');
            cropper.onResize();
          });

          // 삭제하기
          $uploadBox.find('.crop-delete-btn').off('click');
          $uploadBox.find('.crop-delete-btn').on('click', function() {
            if (file !== '') {
              _this.removeAllFiles(file);
              croppedFile = null;
            }
            $uploadBox.find('.cropzone-crop-box, .cropzone-image-box').empty();
            $uploadBox.find('.cropzone-crop-box, .cropzone-image-box').removeClass('show');
            // 버튼 활성화
            $uploadBox.find('.cropzone-control-box').removeClass('active-edit');
            $uploadBox.find('.cropzone-control-box').removeClass('active');
            // 드롭존 보이기
            $uploadBox.find('.thumbnail-dropzone-box').removeClass('hide');
            // 박스 크기 조절
            $uploadBox.removeClass('crop');
          });

          // Create Cropper.js
          var cropper = new Cropper(image, {
            // https://calculator-online.net/ko/ratio-calculator/
            // 1056 : 584 = 9 : 4.977
            // 옵션
            autoCropArea: 1,
            aspectRatio: aspectRatio(option.width, option.height), // 비율
            data: {
              width: minCroppedWidth,
              height: minCroppedHeight,
            }, // 잘라낼 범위의 기본 값을 가로, 세로

            ready() {
              if (file == '') {
                // 수정일경우 등록버튼 click trigger
                $('.thumbnail-upload-box').each(function() {
                  if ($(this).find('.cropzone-crop-box').find('.cropper-hidden').length) {
                    $(this).find('.crop-save-btn').click();
                  }
                });
              }

              var cropper = this.cropper;
              var containerData = cropper.getContainerData();
              var cropBoxData = cropper.getCropBoxData();

              // 정중앙 배치
              cropper.setCropBoxData({
                top: containerData.height / 2 - cropBoxData.height / 2,
                left: containerData.width / 2 - cropBoxData.width / 2,
              });
            },

            crop: function(event) {
              var width = Math.round(event.detail.width);
              var height = Math.round(event.detail.height);
              if (width < minCroppedWidth || height < minCroppedHeight || width > maxCroppedWidth || height > maxCroppedHeight) {
                cropper.setData({
                  width: Math.max(minCroppedWidth, Math.min(maxCroppedWidth, width)),
                  height: Math.max(minCroppedHeight, Math.min(maxCroppedHeight, height)),
                });
              }
            },
          });

          // 이미지 비율 계산
          function aspectRatio(width, height) {
            const gcd = (...arr) => {
              const _gcd = (x, y) => (!y ? x : gcd(y, x % y));
              return [...arr].reduce((a, b) => _gcd(a, b));
            };

            const gcdResult = gcd(width, height);

            return width / gcdResult / (height / gcdResult);
          }
        },
      };
    }
  </script>


  <!-- 썸네일 스크립트 -->
  <script>
    // 이미지 첨부 및 크롭 스크립트
    dropzoneCropperEditScript({
      id: 'cropDropzone',
      width: 228, // 최소 width
      height: 126, // 최소 height
    });
  </script>
</body>

</html>