<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"  content="width=device-width, initial-scale=1.0, user-scalable=no, height=device-height, maximum-scale=1.0" />
  <meta name="title" content="대학내일, 20대를 위한 라이프 매거진" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta property="og:title" content="대학내일, 20대를 위한 라이프 매거진" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <link rel="icon" href="../../../resources/images/favicon.png" />
  <link rel="stylesheet" href="../../../resources/plugins/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="../../../resources/plugins/selectric/selectric.css" />
  <link rel="stylesheet" href="../../../resources/plugins/datepicker/tui-time-picker.css" />
  <link rel="stylesheet" href="../../../resources/plugins/datepicker/tui-date-picker.css" />
  <link href="../../../resources/plugins/dropzone/dropzone.min.css" rel="stylesheet" />
  <link href="../../../resources/plugins/cropper/cropper.css" rel="stylesheet" />
  <link href="../../../resources/plugins/froala/froala_editor.pkgd.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../../../resources/plugins/jqueryui/jquery-ui.min.css" />
  <link rel="stylesheet" href="../../../resources/plugins/fullcalendar/fullcalendar.css" />
  <link rel="stylesheet" href="../../../resources/css/style.css" />
  <script src="../../../resources/plugins/jquery-3.7.1.min.js"></script>
  <script src="../../../resources/plugins/swiper/swiper-bundle.min.js"></script>
  <script src="../../../resources/plugins/selectric/jquery.selectric.js"></script>
  <script src="../../../resources/plugins/gsap/gsap.min.js"></script>
  <script src="../../../resources/plugins/datepicker/tui-time-picker.js"></script>
  <script src="../../../resources/plugins/datepicker/tui-date-picker.js"></script>
  <script src="../../../resources/js/common-ui.js"></script>
  <script src="../../../resources/plugins/dropzone/dropzone.min.js"></script>
  <script src="../../../resources/plugins/cropper/cropper.js"></script>
  <script src="../../../resources/plugins/froala/froala_editor.pkgd.min.js"></script>
  <script src="../../../resources/plugins/jqueryui/jquery-ui.min.js"></script>
  <script src="../../../resources/plugins/fullcalendar/fullcalendar.js"></script>
  <script src="../../../resources/plugins/fullcalendar/popper.min.js"></script>
  <script src="../../../resources/plugins/fullcalendar/tooltip.min.js"></script>
  <script src="../../../resources/plugins/fullcalendar/index.global.min.js"></script>
  <script src="../../../resources/plugins/fullcalendar/ko.global.js"></script>
  <script src="../../../resources/js/univ.account.js"></script>
  <script src="../../../resources/plugins/crypto-4.2.0.min.js"></script>  <script src="../../../resources/js/base.js"></script>  
  <script src="../../../resources/js/util.js"></script>
  <script src="../../../resources/js/login-action.js"></script>
  <title>대학내일, 20대를 위한 라이프 매거진</title>


  <script>
    darkModeHandler.init();
  </script>


</head>

<body>
  <div id="container">
    <!-- 헤더 -->

    <header id="header">
      <div class="section-inner">
        <div class="left-box">
          <div class="logo">
            <a href="../main/main.html">
              <h1><img src="../../../resources/images/logo.png" alt="20 대학내일" /></h1>
            </a>
          </div>
          <nav class="nav">
            <div class="nav-list">
              <div class="nav-item">
                <a href="../magazine/magazine.html" class="nav-btn">매거진</a>
              </div>
              <div class="nav-item">
                <a href="../voice/voice.html" class="nav-btn">글 쓰는 20대</a>
              </div>
              <div class="nav-item">
                <a href="../community/community.html" class="nav-btn fc-g2">커뮤니티</a>
              </div>
              <div class="nav-item">
                <a href="../schedule/schedule.html" class="nav-btn fc-g2">캘린더</a>
              </div>
            </div>
          </nav>
        </div>
        <div class="right-box">
          <div class="menu-box">
            <!-- 로그인 전 -->
            <div class="menu-box-item">
              <a href="../login/login.html">로그인</a>
            </div>
            <!-- //로그인 전 -->
            <div class="menu-box-item">
              <button type="button" class="dark-mode-btn">
                <i class="icon-box icon-moon"></i>
                <i class="icon-box icon-sun"></i>
                다크/라이트 모드
              </button>
            </div>
            <div class="menu-box-item">
              <button type="button" class="search-control-btn">
                <i class="icon-box icon-search-black"></i>
                <i class="icon-box icon-search-white"></i>
                검색
              </button>
            </div>
          </div>
        </div>

        <!-- 검색창 -->
        <div class="search-bar-view-box">
          <div class="search-bar-box">            
            <button type="button" class="search-button" id="search-button-base1">
              <i class="icon-box icon-search"></i>
              <span>검색하기</span>
            </button>
            <div class="input-cover">
              <label for="search" class="form-label txt-hidden">검색</label>
              <input type="text" id="header-search" name="search" title="검색" class="form-input" autocomplete="off" placeholder="검색하실 내용을 입력하세요." />
            </div>
            <button type="button" class="close-btn">닫기</button>
          </div>
        </div>
        <!-- //검색창 -->

        <div class="mobile-box">
          <button type="button" class="mobile-navigation-menu" id="btnAllmenuOpen" onclick="mobileMenuController.open('','#allMenuContainer', false)">
            <span class="icon"></span>
          </button>
          <div class="logo">
            <a href="../main/main.html">
              <h1><img src="../../../resources/images/logo.png" alt="20 대학내일" /></h1>
            </a>
          </div>
          <!-- 로그인 전 -->
          <div class="login-box" id="login-box">
          </div>
          <!-- //로그인 전 -->
        </div>
      </div>
    </header>
    <div class="all-menu-container" id="allMenuContainer">
      <div class="menu-inner">
        <div class="menu-wrapper">
          <div class="menu-header">
            <button type="button" class="btn-menu-close" onclick="mobileMenuController.close('#btnAllmenuOpen', '#allMenuContainer')"><span>닫기</span></button>
            <div class="user-info-box" id="loginMobile">
              
            </div>
          </div>
          <!-- 검색창 -->
          <div class="search-bar-box">
            <div class="input-cover">
              <label for="search" class="form-label txt-hidden">검색</label>
              <input type="text" id="searchKeyword2" name="search" title="검색" class="form-input" autocomplete="off" placeholder="검색하실 내용을 입력해 보세요." />
            </div>
            <button type="button" class="search-button" id="search-button-base2">
              <i class="icon-box icon-search"></i>
              <span>검색하기</span>
            </button>
          </div>
          <!-- //검색창 -->
          <ul class="menu-list" id="mobile-menu">
          </ul>
          <div class="add-btn-box" id="mobile-menu-footer">
            </div>
        </div>
      </div>
    </div>


    <!-- // 헤더 -->

    <!-- 컨텐츠 -->
    <main id="content">
      <section class="sub-section-wrap login-content-area">
        <div class="section-inner article-aside-inner">
          <aside class="aside-content-box">
            <div class="sub-section-title">
              <h2>로그인</h2>
            </div>
            <div class="visual-image-box">
              <img src="../../../resources/images/visual/visual-char-bubble-image.png" class="bubble white" alt="20대를 위한, 라이프 매거진, UNI20" />
              <img src="../../../resources/images/visual/visual-char-bubble-image-black.png" class="bubble dark" alt="20대를 위한, 라이프 매거진, UNI20" />
              <img src="../../../resources/images/visual/visual-char-image.png" class="char" />
            </div>
          </aside>
          <!-- //aside-content-box -->
          <div class="login-content-box-wrap">
            <div class="login-content-box">
              <div class="input-cover-wrap">
                <div class="input-cover">
                  <label for="id" class="form-label">아이디(이메일)</label>
                  <input type="text" id="id" name="id" title="아이디(이메일)" class="form-input" autocomplete="off" onkeypress="enterLogin(event)"/>
                  <div class="form-guide-text font warning" id="warningId"></div>
                </div>
                <div class="input-cover type-change">
                  <!-- label의 for값과 input id값이 동일해야합니다. -->
                  <div class="cover-inner">
                    <label for="password" class="form-label">비밀번호</label>
                    <input type="password" id="password"  title="비밀번호" class="form-input" autocomplete="off" placeholder="영문,숫자,특문 포함 8자 이상 입력"  onkeypress="enterLogin(event)"/>
                    <span class="etc-right">
                        <button type="button" class="btn-type-change">비밀번호 보기/감추기</button>
                      </span>
                  </div>
                  <div class="form-guide-text font warning" id="warningPassword"></div>
                </div>
              </div>
              <div class="selector-wrapper horizontal">
                <div class="selector-cover checkbox square">
                  <label class="label">
                    <input type="checkbox"  id="checkbox-id" />
                    <span class="selector-text">
                        <span class="selector"></span>
                    아이디 저장
                    </span>
                  </label>
                </div>
                <div class="selector-cover checkbox square">
                  <label class="label">
                    <input type="checkbox"  id="checkbox-auto" />
                    <span class="selector-text">
                        <span class="selector"></span>
                    자동 로그인
                    </span>
                  </label>
                </div>
              </div>
              <div class="btn-wrap label-position">
                <!-- 직전 로그인 방법(버튼)에 표기되는 라벨 -->
                <div class="info-login-label" id="emailLoginLabel"><span>최근에 로그인했어요.</span></div>
                <button type="button" class="btn medium fw700 bg-black full" onclick="login()">이메일 로그인</button>
              </div>
              <div class="social-content-box">
                <div class="title">간편 로그인</div>
                <div class="social-box box-direction-column">
                  <div class="label-position">
                    <!-- 직전 로그인 방법(버튼)에 표기되는 라벨 -->
                    <div class="info-login-label" id="naverLoginLabel"><span>최근에 로그인했어요.</span></div>
                    <button type="button" class="btn icon-btn medium full naver-btn" onclick="authSNS('NAVER')"><i class="icon-box icon-naver"></i>네이버 로그인</button>
                  </div>
                  <div class="label-position">
                    <!-- 직전 로그인 방법(버튼)에 표기되는 라벨 -->
                    <div class="info-login-label" id="kakaoLoginLabel"><span>최근에 로그인했어요.</span></div>
                    <button type="button" class="btn icon-btn medium full kakao-btn" onclick="authSNS('KAKAO')"><i class="icon-box icon-kakao"></i>카카오 로그인</button>
                  </div>
                </div>
                <div class="add-info-box box-direction-row">
                  <a href="../login/password.html" class="underline-btn underline">아이디/비밀번호 찾기</a>
                  <a href="../join/sso.html" class="underline-btn underline">지금 회원 가입하기</a>
                </div>
              </div>
            </div>
          </div>
          <!-- //login-content-box-wrap -->
        </div>
      </section>
      <!-- //sub-section-wrap -->
    </main>
    <!-- //컨텐츠 -->

    <!-- 푸터 -->
    <footer id="footer">
      <div class="section-inner">
        <div class="top-box">
          <div class="nav-box">
            <div class="nav-box-item">
              <a href="../notice/list.html" class="nav-box-btn">공지사항</a>
            </div>
            <div class="nav-box-item">
              <a href="../notice/faq.html" class="nav-box-btn">자주 묻는 질문</a>
            </div>
            <div class="nav-box-item">
              <a href="../notice/register.html" class="nav-box-btn" id="qna-base2">문의/신고하기</a>
            </div>
          </div>
        </div>
        <div class="bottom-box">
          <div class="info-box">
            <strong>(주)대학내일</strong>
            <div class="info-box-list">
              <div class="info-box-item">
                <span>주소 : 서울 마포구 독막로 331</span>
                <span>전화번호 : 02-735-3800</span>
              </div>
              <div class="info-box-item">
                <span>등록번호 : 서울 아 03647</span>
                <span>등록일자 : 2015년 3월 24일</span>
                <span class="mo-block">발행일자 : 2015년 3월 24일</span>
              </div>
              <div class="info-box-item">
                <span>제호 : 대학내일</span>
                <span>발행·편집인 : 김영훈</span>
                <span class="mo-block">청소년 보호 책임자 : 홍승우</span>
              </div>
              <div class="copyright">
            <span> ©UNIVTOMORROW. ALL RIGHTS RESERVED. </span>
            <div class="logo-foundation-box">
              <span> 본 서비스는 </span>
              <img src="../../../resources/images/logo-korea-press-foundation.png" class="logo-foundation" alt="한국언론진흥재단" />
              <span>의 지원을 받아 개발되었습니다.</span>
            </div>
          </div>
            </div>
          </div>
          <div class="nav-box">
            <div class="nav-box-item">
              <a href="../privacy/privacy.html" class="nav-box-btn"><span>개인정보처리방침</span></a>
            </div>
            <div class="nav-box-item">
              <a href="../privacy/terms.html" class="nav-box-btn">이용약관</a>
            </div>
            <div class="nav-box-item">
              <a href="../privacy/copyright.html" class="nav-box-btn">저작권 정책</a>
            </div>
            <div class="nav-box-item">
              <a href="../privacy/youth.html" class="nav-box-btn">청소년 보호 정책</a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- // 푸터 -->
  </div>

</body>

<script>

</script>

</html>