<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, height=device-height, maximum-scale=1.0" />
  <meta name="title" content="대학내일, 20대를 위한 라이프 매거진" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta property="og:title" content="대학내일, 20대를 위한 라이프 매거진" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <link rel="icon" href="../../../resources/images/favicon.png" />
  <link rel="stylesheet" href="../../../resources/plugins/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="../../../resources/plugins/selectric/selectric.css" />
  <link rel="stylesheet" href="../../../resources/plugins/datepicker/tui-time-picker.css" />
  <link rel="stylesheet" href="../../../resources/plugins/datepicker/tui-date-picker.css" />
  <link href="../../../resources/plugins/dropzone/dropzone.min.css" rel="stylesheet" />
  <link href="../../../resources/plugins/cropper/cropper.css" rel="stylesheet" />
  <link href="../../../resources/plugins/froala/froala_editor.pkgd.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../../../resources/plugins/jqueryui/jquery-ui.min.css" />
  <link rel="stylesheet" href="../../../resources/plugins/fullcalendar/fullcalendar.css" />
  <link rel="stylesheet" href="../../../resources/css/style.css" />
  <script src="../../../resources/plugins/jquery-3.7.1.min.js"></script>
  <script src="../../../resources/plugins/swiper/swiper-bundle.min.js"></script>
  <script src="../../../resources/plugins/selectric/jquery.selectric.js"></script>
  <script src="../../../resources/plugins/gsap/gsap.min.js"></script>
  <script src="../../../resources/plugins/datepicker/tui-time-picker.js"></script>
  <script src="../../../resources/plugins/datepicker/tui-date-picker.js"></script>
  <script src="../../../resources/js/common-ui.js"></script>
  <script src="../../../resources/plugins/dropzone/dropzone.min.js"></script>
  <script src="../../../resources/plugins/cropper/cropper.js"></script>
  <script src="../../../resources/plugins/froala/froala_editor.pkgd.min.js"></script>
  <script src="../../../resources/plugins/jqueryui/jquery-ui.min.js"></script>
  <script src="../../../resources/plugins/fullcalendar/fullcalendar.js"></script>
  <script src="../../../resources/plugins/fullcalendar/popper.min.js"></script>
  <script src="../../../resources/plugins/fullcalendar/tooltip.min.js"></script>
  <script src="../../../resources/plugins/fullcalendar/index.global.min.js"></script>
  <script src="../../../resources/plugins/fullcalendar/ko.global.js"></script>
  <title>대학내일, 20대를 위한 라이프 매거진</title>



</head>

<body>
  <div id="container" class="popup-list-container">
    <div class="section-inner">
      <h1>팝업 모음</h1>
      <div class="notice">
        <ul>
          <li><strong>* 프로젝트의 모든 팝업을 확인할수 있는 페이지 입니다.</strong></li>
          <li>* 팝업 열기 함수 - <strong style="color: #d8027d">layerPopup.openPopup('팝업아이디')</strong></li>
          <li>* 특정 팝업 닫기 함수 - <strong style="color: #d8027d">layerPopup.closePopup('팝업아이디')</strong></li>
          <li>* 전체 팝업 닫기 함수 - <strong style="color: #d8027d">layerPopup.closeAllPopup()</strong></li>
          <li>
            * dim을 눌렀을때 팝업이 닫히지 않게끔 하기위해서<br />
              두번째 인자로 true값을 줍니다.<strong style="color: #d8027d">layerPopup.openPopup('팝업아이디', true)</strong>
          </li>
        </ul>
      </div>
      <div class="list-container">
        <div class="list-item">
          <h2 class="list-type">팝업 타입</h2>
          <div class="list-row">
            <div class="name">내부스크롤 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('layerPopup01', true)">확인</button>
          </div>
          <div class="list-row">
            <div class="name">풀스크롤 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('fullScrollPopup', true)">확인</button>
          </div>
        </div>
        <div class="list-item">
          <h2 class="list-type">공지 팝업</h2>
          <div class="list-row">
            <div class="name">최대 30자까지 표시 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('noticeInfoTextPopup')">확인</button>
          </div>
          <div class="list-row">
            <div class="name">이미지 포함 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('noticeImageTextPopup')">확인</button>
          </div>
        </div>

        <div class="list-item">
          <h2 class="list-type">공통 팝업</h2>
          <!-- <div class="list-row">
              <div class="name">alert 팝업</div>
              <button type="button" class="btn small primary" onclick="layerPopup.openPopup('systemAlertPopup', true)">확인</button>
            </div>
            <div class="list-row">
              <div class="name">confirm 팝업</div>
              <button type="button" class="btn small primary" onclick="layerPopup.openPopup('systemConfirmPopup', true)">확인</button>
            </div> -->
          <div class="list-row">
            <div class="name">~ 입력해 주세요 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('infoAlertPopup')">확인</button>
          </div>
          <div class="list-row">
            <div class="name">~ 확인해 주세요 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('infoAlertCheckPopup')">확인</button>
          </div>
          <div class="list-row">
            <div class="name">최대 30자까지 표시 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('infoTextPopup')">확인</button>
          </div>
          <div class="list-row">
            <div class="name">이미지 포함 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('imageTextPopup')">확인</button>
          </div>
        </div>

        <div class="list-item">
          <h2 class="list-type">로그인</h2>
          <div class="list-row">
            <div class="name">로그인 안내 팝업 (비회원 or 로그인 전)</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('loginInfoPopup')">확인</button>
          </div>
          <div class="list-row">
            <div class="name">아이디 찾기 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('idFindInfoPopup')">확인</button>
          </div>
        </div>

        <div class="list-item">
          <h2 class="list-type">글쓰기</h2>
          <div class="list-row">
            <div class="name">글쓰기 취소 안내 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('writeCancelPopup', true)">확인</button>
          </div>
        </div>

        <div class="list-item">
          <h2 class="list-type">메일</h2>
          <div class="list-row">
            <div class="name">인증 메일 발송 안내 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('mailInfoAlertPopup')">확인</button>
          </div>
          <div class="list-row">
            <div class="name">임시 비밀번호 발송 안내 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('mailPasswordAlertPopup')">확인</button>
          </div>
        </div>

        <div class="list-item">
          <h2 class="list-type">마이페이지</h2>
          <div class="list-row">
            <div class="name">마이페이지 알림 메시지 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('userInfoAlertPopup')">확인</button>
          </div>
          <div class="list-row">
            <div class="name">마이페이지 포인트 신청 안내 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('pointInfoAlertPopup', true)">확인</button>
          </div>
          <div class="list-row">
            <div class="name">마이페이지 나만의 매거진 수록 글 선택 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('magazineIncludedPopup')">확인</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- alert 팝업 -->
  <div class="layer-popup full-scroll" id="systemAlertPopup">
    <div class="popup-container small">
      <div class="popup-header">
        <button type="button" class="btn-close popup-close">닫기</button>
      </div>
      <div class="popup-content">
        <div class="popup-inner">alert 팝업</div>
      </div>
      <div class="popup-footer">
        <div class="btn-area">
          <button type="button" class="btn btn-ok">완료</button>
        </div>
      </div>
    </div>
  </div>

  <!-- confirm 팝업 -->
  <div class="layer-popup full-scroll" id="systemConfirmPopup">
    <div class="popup-container medium">
      <div class="popup-header">
        <div class="popup-title">
          <strong>팝업타이틀</strong>
        </div>
        <button type="button" class="btn-close popup-close">닫기</button>
      </div>
      <div class="popup-content">
        <div class="popup-inner">confirm 팝업</div>
      </div>
      <div class="popup-footer">
        <div class="btn-area half">
          <button type="button" class="btn btn-close popup-close">취소</button>
          <button type="button" class="btn btn-ok">완료</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 내부스크롤 팝업 -->
  <div class="layer-popup" id="layerPopup01">
    <div class="popup-container medium">
      <div class="popup-header">
        <div class="popup-title">
          <strong>팝업타이틀</strong>
        </div>
        <button type="button" class="btn-close popup-close">닫기</button>
      </div>
      <div class="popup-content">
        <div class="popup-inner">
          <div style="height: 800px; background-color: #f1f1f1"></div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="btn-area half">
          <button type="button" class="btn btn-close popup-close">취소</button>
          <button type="button" class="btn btn-ok">완료</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 풀 스크롤 팝업 -->
  <div class="layer-popup full-scroll" id="fullScrollPopup">
    <div class="popup-container medium">
      <div class="popup-header">
        <div class="popup-title">
          <strong>팝업타이틀</strong>
        </div>
        <button type="button" class="btn-close popup-close">닫기</button>
      </div>
      <div class="popup-content">
        <div class="popup-inner">
          <div style="height: 800px; background-color: #f1f1f1"></div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="btn-area half">
          <button type="button" class="btn btn-close popup-close">취소</button>
          <button type="button" class="btn btn-ok">완료</button>
        </div>
      </div>
    </div>
  </div>


  <!-- 공지 -->
  <!-- 공지 최대 30자 까지 표시 팝업 -->
  <div class="layer-popup full-scroll info-content-popup notice-popup" id="noticeInfoTextPopup">
    <div class="popup-container medium">
      <div class="popup-header">
        <div class="popup-title txt-hidden">
          <strong>알림</strong>
        </div>
      </div>
      <div class="popup-content">
        <div class="popup-inner">
          <div class="info-content-box">
            <div class="text-box">
              <strong>최대 30자까지 표시되는 팝업 제목 입니다.</strong>
            </div>
            <div class="sub-text-box">
              팝업 문구가 표시됩니다. 최대 글자 수 제한은 없어요.<br />
            줄바꿈이 반영된 문구로 노출됩니다.<br /><br />
            팝업 문구가 표시됩니다. 최대 글자 수 제한은 없어요.<br />
            줄바꿈이 반영된 문구로 노출됩니다.<br />
            팝업 문구가 표시됩니다. 최대 글자 수 제한은 없어요.
            </div>
            <div class="today-control-box">
              <div class="selector-cover checkbox square">
                <label class="label">
                  <input type="checkbox" />
                  <span class="selector-text">
                  <span class="selector"></span>
                  일주일 동안 보지 않기
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="btn-area">
          <button type="button" class="btn btn-ok popup-close">확인</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 공지 이미지 포함 팝업 -->
  <div class="layer-popup full-scroll info-content-popup notice-popup" id="noticeImageTextPopup">
    <div class="popup-container medium">
      <div class="popup-header">
        <div class="popup-title txt-hidden">
          <strong>알림</strong>
        </div>
      </div>
      <div class="popup-content">
        <div class="popup-inner">
          <div class="info-content-box">
            <div class="popup-title-box">
              <strong>최대 30자까지 표시되는 팝업 제목 입니다.</strong>
            </div>
            <div class="image-box">
              <img src="../../../resources/images/_temp/popup-image.png" alt="" />
            </div>
          </div>
          <div class="today-control-box">
            <div class="selector-cover checkbox square">
              <label class="label">
                <input type="checkbox" />
                <span class="selector-text">
                <span class="selector"></span>
                일주일 동안 보지 않기
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="btn-area">
          <button type="button" class="btn btn-ok popup-close">닫기</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 공통 -->
  <!-- ~ 입력해주세요 팝업 -->
  <div class="layer-popup full-scroll info-content-popup" id="infoAlertPopup">
    <div class="popup-container small">
      <div class="popup-header">
        <div class="popup-title txt-hidden">
          <strong>알림</strong>
        </div>
      </div>
      <div class="popup-content">
        <div class="popup-inner">
          <div class="info-content-box">
            <div class="text-box">
              <strong>아이디(이메일)를 입력해 주세요.</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="btn-area">
          <button type="button" class="btn btn-ok popup-close">확인</button>
        </div>
      </div>
    </div>
  </div>

  <!-- ~ 확인해주세요 팝업 -->
  <div class="layer-popup full-scroll info-content-popup" id="infoAlertCheckPopup">
    <div class="popup-container small">
      <div class="popup-header">
        <div class="popup-title txt-hidden">
          <strong>알림</strong>
        </div>
      </div>
      <div class="popup-content">
        <div class="popup-inner">
          <div class="info-content-box">
            <div class="text-box">
              <strong>입력하신 아이디(이메일)을 확인해 주세요.</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="btn-area">
          <button type="button" class="btn btn-ok popup-close">확인</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 최대 30자 까지 표시 팝업 -->
  <div class="layer-popup full-scroll info-content-popup" id="infoTextPopup">
    <div class="popup-container small">
      <div class="popup-header">
        <div class="popup-title txt-hidden">
          <strong>알림</strong>
        </div>
      </div>
      <div class="popup-content">
        <div class="popup-inner">
          <div class="info-content-box">
            <div class="text-box">
              <strong>최대 30자까지 표시되는 팝업 제목 입니다.</strong>
            </div>
            <div class="sub-text-box">
              팝업 문구가 표시됩니다. 최대 글자 수 제한은 없어요.<br />
            줄바꿈이 반영된 문구로 노출됩니다.<br /><br />
            팝업 문구가 표시됩니다. 최대 글자 수 제한은 없어요.<br />
            줄바꿈이 반영된 문구로 노출됩니다.<br />
            팝업 문구가 표시됩니다. 최대 글자 수 제한은 없어요.
            </div>
          </div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="btn-area">
          <button type="button" class="btn btn-ok popup-close">확인</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 이미지 포함 팝업 -->

  <div class="layer-popup full-scroll info-content-popup" id="imageTextPopup">
    <div class="popup-container small">
      <div class="popup-header">
        <div class="popup-title txt-hidden">
          <strong>알림</strong>
        </div>
      </div>
      <div class="popup-content">
        <div class="popup-inner">
          <div class="info-content-box">
            <div class="popup-title-box">
              <strong>최대 30자까지 표시되는 팝업 제목 입니다.</strong>
            </div>
            <div class="image-box">
              <img src="../../../resources/images/_temp/popup-image.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="btn-area">
          <button type="button" class="btn btn-ok popup-close">확인</button>
        </div>
      </div>
    </div>
  </div>


  <!-- 로그인 -->
  <!-- 로그인 안내 팝업 -->
  <div class="layer-popup full-scroll info-content-popup" id="loginInfoPopup">
    <div class="popup-container small">
      <div class="popup-header">
        <div class="popup-title txt-hidden">
          <strong>알림</strong>
        </div>
      </div>
      <div class="popup-content">
        <div class="popup-inner">
          <div class="info-content-box">
            <div class="text-box">
              <strong>
              흥미로운 이야기를 제보하려면<br />
              로그인해 주세요.
            </strong>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="btn-area">
          <button type="button" class="btn btn-ok popup-close">확인</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 아이디 찾기 팝업 -->
  <div class="layer-popup full-scroll info-content-popup" id="idFindInfoPopup">
    <div class="popup-container small">
      <div class="popup-header">
        <div class="popup-title txt-hidden">
          <strong>알림</strong>
        </div>
      </div>
      <div class="popup-content">
        <div class="popup-inner">
          <div class="info-content-box">
            <div class="text-box">
              <strong>
              홍길동님의 아이디는<br />
              hon****dong@naver.com
            </strong>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="btn-area">
          <button type="button" class="btn btn-ok popup-close">확인</button>
        </div>
      </div>
    </div>
  </div>


  <!-- 글쓰기 -->
  <!-- 글쓰기 취소 안내 팝업 -->
  <div class="layer-popup full-scroll info-content-popup" id="writeCancelPopup">
    <div class="popup-container small">
      <div class="popup-header">
        <div class="popup-title txt-hidden">
          <strong>알림</strong>
        </div>
      </div>
      <div class="popup-content">
        <div class="popup-inner">
          <div class="info-content-box">
            <div class="text-box">
              <strong>글쓰기를 취소하시겠어요?</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="btn-area half">
          <button type="button" class="btn btn-close popup-close">취소</button>
          <button type="button" class="btn btn-ok">확인</button>
        </div>
      </div>
    </div>
  </div>


  <!-- 메일 -->
  <!-- 인증 메일 발송 안내 팝업 -->
  <div class="layer-popup full-scroll info-content-popup" id="mailInfoAlertPopup">
    <div class="popup-container small">
      <div class="popup-header">
        <div class="popup-title txt-hidden">
          <strong>알림</strong>
        </div>
      </div>
      <div class="popup-content">
        <div class="popup-inner">
          <div class="info-content-box">
            <div class="text-box">
              <strong>
              111****@univ.me(으)로<br />
              인증 메일이 발송되었습니다.
            </strong>
            </div>
            <div class="sub-text-box">메일 속 링크를 클릭하면 회원가입을 진행할 수 있습니다.</div>
          </div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="btn-area">
          <button type="button" class="btn btn-ok popup-close">확인</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 임시 비밀번호 발송 안내 팝업 -->
  <div class="layer-popup full-scroll info-content-popup" id="mailPasswordAlertPopup">
    <div class="popup-container small">
      <div class="popup-header">
        <div class="popup-title txt-hidden">
          <strong>알림</strong>
        </div>
      </div>
      <div class="popup-content">
        <div class="popup-inner">
          <div class="info-content-box">
            <div class="text-box">
              <strong>
              abc*@naver.com로<br />
              임시 비밀번호가 발송되었습니다.
            </strong>
            </div>
            <div class="sub-text-box">
              메일은 스팸으로 처리될 수도 있으니<br />
            스팸함도 꼭 확인해 주세요.
            </div>
          </div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="btn-area">
          <button type="button" class="btn btn-ok popup-close">확인</button>
        </div>
      </div>
    </div>
  </div>


  <!-- 마이페이지 -->
  <!-- 마이페이지 알림 메시지 팝업 -->
  <div class="layer-popup full-scroll user-info-alert-popup" id="userInfoAlertPopup">
    <div class="popup-container small">
      <div class="popup-header">
        <div class="popup-title">
          <strong>알림 메시지</strong>
        </div>
      </div>
      <div class="popup-content">
        <div class="popup-inner">
          <div class="info-content-box">
            <!-- 
            첨삭 멘토링, 첨삭 의견 추가 - 펜 아이콘 ( alert-icon-pencil-plus )
            기사 발행, 매거진 시리즈 선정 - 기사 아이콘 ( alert-icon-article )
          -->
            <div class="info-content-box-item">
              <div class="mark-icon">
                <i class="icon-box alert-icon-pencil-plus">아이콘</i>
              </div>
              <div class="info-box">
                <div class="text"><strong>[글 쓰는 20대]</strong> 닉네임은최대열두자임다요님의 글에 대학내일이 수정(첨삭)을 제안했어요.</div>
                <div class="row-box">
                  <div class="date">2024. 10. 31. 23:59</div>
                  <button type="button" class="btn icon-btn underline-text delete-btn"><i class="icon-box alert-icon-trash"></i>삭제</button>
                </div>
              </div>
            </div>
            <!-- 첨삭 멘토링 -->
            <div class="info-content-box-item">
              <div class="mark-icon">
                <i class="icon-box alert-icon-pencil-plus">아이콘</i>
              </div>
              <div class="info-box">
                <div class="text"><strong>[글 쓰는 20대]</strong> 닉네임은최대열두자임다요님의 글에 새로운 수정(첨삭) 의견이 추가되었어요.</div>
                <div class="row-box">
                  <div class="date">2024. 10. 31. 23:59</div>
                  <button type="button" class="btn icon-btn underline-text delete-btn"><i class="icon-box alert-icon-trash"></i>삭제</button>
                </div>
              </div>
            </div>
            <!-- 첨삭 의견 추가 -->
            <div class="info-content-box-item">
              <div class="mark-icon">
                <i class="icon-box alert-icon-article">아이콘</i>
              </div>
              <div class="info-box">
                <div class="text"><strong>[글 쓰는 20대]</strong> 닉네임은최대열두자임다요님의 글이 기사로 발행되었어요.</div>
                <div class="row-box">
                  <div class="date">2024. 10. 31. 23:59</div>
                  <button type="button" class="btn icon-btn underline-text delete-btn"><i class="icon-box alert-icon-trash"></i>삭제</button>
                </div>
              </div>
            </div>
            <!-- 기사 발행 -->
            <div class="info-content-box-item">
              <div class="mark-icon">
                <i class="icon-box alert-icon-article">아이콘</i>
              </div>
              <div class="info-box">
                <div class="text"><strong>[대학생이 만든 매거진]</strong> 닉네임은최대열두자임다요님의 매거진이 주목할 시리즈로 선정되었어요.</div>
                <div class="row-box">
                  <div class="date">2024. 10. 31. 23:59</div>
                  <button type="button" class="btn icon-btn underline-text delete-btn"><i class="icon-box alert-icon-trash"></i>삭제</button>
                </div>
              </div>
            </div>
            <!-- 매거진 시리즈 선정 -->
            <div class="info-content-box-item">
              <div class="mark-icon">
                <i class="icon-box alert-icon-article">아이콘</i>
              </div>
              <div class="info-box">
                <div class="text"><strong>[제보하기]</strong> 닉네임은최대열두자임다요님이 알려주신 소식이 대학내일 매거진 기사로 발행되었어요.</div>
                <div class="row-box">
                  <div class="date">2024. 10. 31. 23:59</div>
                  <button type="button" class="btn icon-btn underline-text delete-btn"><i class="icon-box alert-icon-trash"></i>삭제</button>
                </div>
              </div>
            </div>
            <!-- 매거진 기사 발행 -->
            <div class="info-content-box-item">
              <div class="mark-icon">
                <i class="icon-box alert-icon-camera">아이콘</i>
              </div>
              <div class="info-box">
                <div class="text"><strong>[표지모델]</strong> 닉네임은최대열두자임다요님의 신청 결과가 발표되었어요. 개인 이메일 또는 연락처에서 확인해 주세요.</div>
                <div class="row-box">
                  <div class="date">2024. 10. 31. 23:59</div>
                  <button type="button" class="btn icon-btn underline-text delete-btn"><i class="icon-box alert-icon-trash"></i>삭제</button>
                </div>
              </div>
            </div>
            <!-- 표지모델 신청 결과 발표 -->
            <div class="info-content-box-item">
              <div class="mark-icon">
                <i class="icon-box alert-icon-calendar">아이콘</i>
              </div>
              <div class="info-box">
                <div class="text"><strong>[캘린더]</strong> 닉네임은최대열두자임다요님의 일정이 캘린더에 등록되었어요.</div>
                <div class="row-box">
                  <div class="date">2024. 10. 31. 23:59</div>
                  <button type="button" class="btn icon-btn underline-text delete-btn"><i class="icon-box alert-icon-trash"></i>삭제</button>
                </div>
              </div>
            </div>
            <!-- 캘린더 등록 -->
            <div class="info-content-box-item">
              <div class="mark-icon">
                <i class="icon-box alert-icon-gift">아이콘</i>
              </div>
              <div class="info-box">
                <div class="text"><strong>[미션 달성 선물]</strong> 닉네임은최대열두자임요님에게 캐릿 구독권이 지급되었어요. 구독권은 개인 이메일에서 확인해 주세요.</div>
                <div class="row-box">
                  <div class="date">2024. 10. 31. 23:59</div>
                  <button type="button" class="btn icon-btn underline-text delete-btn"><i class="icon-box alert-icon-trash"></i>삭제</button>
                </div>
              </div>
            </div>
            <!-- 미션 달성 선물 -->
            <div class="info-content-box-item">
              <div class="mark-icon">
                <i class="icon-box alert-icon-coins">아이콘</i>
              </div>
              <div class="info-box">
                <div class="text"><strong>[포인트]</strong> 닉네임은최대열두자임다요님의 포인트가 현금으로 입금되었어요.</div>
                <div class="row-box">
                  <div class="date">2024. 10. 31. 23:59</div>
                  <button type="button" class="btn icon-btn underline-text delete-btn"><i class="icon-box alert-icon-trash"></i>삭제</button>
                </div>
              </div>
            </div>
            <!-- 포인트 입금 완료 -->
            <div class="info-content-box-item">
              <div class="mark-icon">
                <i class="icon-box alert-icon-headphones">아이콘</i>
              </div>
              <div class="info-box">
                <div class="text"><strong>[문의/신고]</strong> 내일님의 문의/신고 글에 답변이 도착했어요.</div>
                <div class="row-box">
                  <div class="date">2024. 10. 31. 23:59</div>
                  <button type="button" class="btn icon-btn underline-text delete-btn"><i class="icon-box alert-icon-trash"></i>삭제</button>
                </div>
              </div>
            </div>
            <!-- 문의/신고 글 답변 -->
            <div class="info-content-box-item">
              <div class="mark-icon">
                <i class="icon-box alert-icon-bell">아이콘</i>
              </div>
              <div class="info-box">
                <div class="text"><strong>[안내]</strong> 닉네임은최대열두자임다요님의 글이 대학내일 정책에 의해 삭제 되었습니다.</div>
                <div class="info-text">
                  * 삭제 사유 : 유사 글 반복적 게시<br />
                * 삭제 조치를 반복적으로 받게 될 경우 차후 사전 공지 없이 계정이 영구 정지될 수 있습니다.
                </div>
                <div class="row-box">
                  <div class="date">2024. 10. 31. 23:59</div>
                  <button type="button" class="btn icon-btn underline-text delete-btn"><i class="icon-box alert-icon-trash"></i>삭제</button>
                </div>
              </div>
            </div>
            <!-- 안내 -->
            <div class="info-content-box-item">
              <div class="mark-icon">
                <i class="icon-box alert-icon-bell">아이콘</i>
              </div>
              <div class="info-box">
                <div class="text"><strong>[공지]</strong> 관리자에서 설정된 알람 메시지가 노출됩니다. 최대 오십자까지 말줄임표 없이 보여집니다.</div>
                <div class="row-box">
                  <div class="date">2024. 10. 31. 23:59</div>
                  <button type="button" class="btn icon-btn underline-text delete-btn"><i class="icon-box alert-icon-trash"></i>삭제</button>
                </div>
              </div>
            </div>
            <!-- 공지 -->
          </div>
          <!-- //info-content-box -->
          <div class="pagination-box">
            <div class="pagination pc-show">
              <button type="button" class="controller prev">이전으로</button>
              <button type="button" class="paging current">1</button>
              <button type="button" class="paging">2</button>
              <button type="button" class="paging">3</button>
              <button type="button" class="paging-more">...</button>
              <button type="button" class="controller next">다음으로</button>
            </div>
            <div class="btn-wrap half mobile-show">
              <button type="button" class="btn medium bg-g4 prev-btn"><i class="icon-box icon-arrow-prev"></i> 이전 페이지</button>
              <button type="button" class="btn medium bg-g4 next-btn">다음 페이지 <i class="icon-box icon-arrow-next"></i></button>
            </div>
          </div>
          <!-- //pagination-box -->
        </div>
      </div>
      <div class="popup-footer">
        <div class="btn-area">
          <button type="button" class="btn btn-ok popup-close">닫기</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 마이페이지 포인트 신청 안내 팝업 -->
  <div class="layer-popup full-scroll info-content-popup" id="pointInfoAlertPopup">
    <div class="popup-container small">
      <div class="popup-header">
        <div class="popup-title txt-hidden">
          <strong>알림</strong>
        </div>
      </div>
      <div class="popup-content">
        <div class="popup-inner">
          <div class="info-content-box">
            <div class="text-box">
              포인트를 현금으로 바꾸시겠어요?<br />
            1 포인트는 현금 1원으로 계산됩니다.
            </div>
          </div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="btn-area half">
          <button type="button" class="btn btn-close popup-close">취소</button>
          <button type="button" class="btn btn-ok">완료</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 마이페이지 나만의 매거진 수록 글 선택 팝업 -->
  <div class="layer-popup full-scroll magazine-included-popup" id="magazineIncludedPopup">
    <div class="popup-container small">
      <div class="popup-header">
        <div class="popup-title">
          <strong>나만의 매거진 수록 글 선택</strong>
        </div>
      </div>
      <div class="popup-content">
        <div class="popup-inner">
          <div class="magazine-included-content-box">
            <div class="content-tab-menu-box">
              <ul class="content-tab-menu-box-list">
                <li class="content-tab-menu-box-item active">
                  <button type="button" class="content-tab-menu-box-btn">
                    <span>전체</span>
                  </button>
                </li>
                <li class="content-tab-menu-box-item">
                  <button type="button" class="content-tab-menu-box-btn">
                    <span>작성 완료</span>
                  </button>
                </li>
                <li class="content-tab-menu-box-item">
                  <button type="button" class="content-tab-menu-box-btn">
                    <span>발행 완료</span>
                  </button>
                </li>
              </ul>
            </div>
            <!-- //content-tab-menu-box -->
            <div class="select-box-container large solo">
              <select name="select" class="form-select">
                <option value="">전체기간</option>
                <option value="옵션1">2024</option>
              </select>
            </div>
            <!-- //select-box-container -->
            <div class="article-content-column-box">
              <div class="article-info-box">
                <div class="selector-cover checkbox square solo line">
                  <label class="label">
                    <input type="checkbox" />
                    <span class="selector-text">
                    <span class="selector"></span>
                    </span>
                  </label>
                </div>
                <div class="article-info-box-btn">
                  <div class="image-box">
                    <img src="../../../resources/images/_temp/temp-small-thumbnail-image01.png" alt="썸네일" />
                  </div>
                  <div class="text-box">
                    <div class="subject">회원이 등록한 웹진 제목이 최대 30자까지 표시되는 영역입니다.</div>
                    <div class="text">회원이 등록한 웹진 전문이 표시되는 영역입니다. 최대 30자까지 표시돼요.</div>
                    <div class="date">2024. 10.31. 11:59</div>
                  </div>
                </div>
              </div>
              <div class="article-info-box">
                <div class="selector-cover checkbox square solo line">
                  <label class="label">
                    <input type="checkbox" />
                    <span class="selector-text">
                    <span class="selector"></span>
                    </span>
                  </label>
                </div>
                <div class="article-info-box-btn">
                  <div class="image-box">
                    <img src="../../../resources/images/_temp/temp-small-thumbnail-image01.png" alt="썸네일" />
                  </div>
                  <div class="text-box">
                    <div class="label-text">글 쓰는 20대 발행</div>
                    <div class="subject">회원이 등록한 웹진 제목</div>
                    <div class="text">회원이 등록한 웹진 전문 영역</div>
                    <div class="date">2024. 10.31. 11:59</div>
                  </div>
                </div>
              </div>
              <div class="article-info-box">
                <div class="selector-cover checkbox square solo line">
                  <label class="label">
                    <input type="checkbox" />
                    <span class="selector-text">
                    <span class="selector"></span>
                    </span>
                  </label>
                </div>
                <div class="article-info-box-btn">
                  <div class="image-box">
                    <img src="../../../resources/images/_temp/temp-small-thumbnail-image01.png" alt="썸네일" />
                  </div>
                  <div class="text-box">
                    <div class="subject">회원이 등록한 웹진 제목</div>
                    <div class="text">회원이 등록한 웹진 전문 영역</div>
                    <div class="date">2024. 10.31. 11:59</div>
                  </div>
                </div>
              </div>
              <div class="article-info-box">
                <div class="selector-cover checkbox square solo line">
                  <label class="label">
                    <input type="checkbox" />
                    <span class="selector-text">
                    <span class="selector"></span>
                    </span>
                  </label>
                </div>
                <div class="article-info-box-btn">
                  <div class="image-box">
                    <img src="../../../resources/images/_temp/temp-small-thumbnail-image01.png" alt="썸네일" />
                  </div>
                  <div class="text-box">
                    <div class="label-text">글 쓰는 20대 발행</div>
                    <div class="subject">회원이 등록한 웹진 제목이 최대 30자까지 표시되는 영역입니다.</div>
                    <div class="text">회원이 등록한 웹진 전문이 표시되는 영역입니다. 최대 30자까지 표시돼요.</div>
                    <div class="date">2024. 10.31. 11:59</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- //article-content-column-box -->
            <div class="pagination-box">
              <div class="pagination pc-show">
                <button type="button" class="controller prev">이전으로</button>
                <button type="button" class="paging current">1</button>
                <button type="button" class="paging">2</button>
                <button type="button" class="paging">3</button>
                <button type="button" class="paging-more">...</button>
                <button type="button" class="controller next">다음으로</button>
              </div>
              <div class="btn-wrap half mobile-show">
                <button type="button" class="btn medium bg-g4 prev-btn"><i class="icon-box icon-arrow-prev"></i> 이전 페이지</button>
                <button type="button" class="btn medium bg-g4 next-btn">다음 페이지 <i class="icon-box icon-arrow-next"></i></button>
              </div>
            </div>
            <!-- //pagination-box -->
          </div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="btn-area half">
          <button type="button" class="btn btn-ok">선택완료</button>
          <button type="button" class="btn btn-close popup-close">닫기</button>
        </div>
      </div>
    </div>
  </div>

</body>

<style>
  .section-inner {
    width: 700px;
    margin: 0 auto;
  }

  @media (max-width: 900px) {
    .section-inner {
      width: 100%;
    }
  }

  .popup-list-container h1 {
    margin: 20px 0;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }

  .popup-list-container .notice {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f1f1f1;
  }

  .popup-list-container .notice li {
    font-size: 14px;
  }

  .popup-list-container .list-type {
    padding: 8px 20px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    background-color: #f1f1f1;
  }

  .popup-list-container .list-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    border-top: 1px solid #ddd;
  }

  .popup-list-container .name {
    padding-left: 20px;
    font-weight: bold;
    font-size: 15px;
  }

  .popup-list-container .btn-open {
    display: block;
    margin: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    font-weight: bold;
  }
</style>

</html>