<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"  content="width=device-width, initial-scale=1.0, user-scalable=no, height=device-height, maximum-scale=1.0" />
  <meta name="title" content="대학내일, 20대를 위한 라이프 매거진" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta property="og:title" content="대학내일, 20대를 위한 라이프 매거진" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <link rel="icon" href="../../../resources/images/favicon.png" />
  <link rel="stylesheet" href="../../../resources/plugins/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="../../../resources/plugins/selectric/selectric.css" />
  <link rel="stylesheet" href="../../../resources/plugins/datepicker/tui-time-picker.css" />
  <link rel="stylesheet" href="../../../resources/plugins/datepicker/tui-date-picker.css" />
  <link href="../../../resources/plugins/dropzone/dropzone.min.css" rel="stylesheet" />
  <link href="../../../resources/plugins/cropper/cropper.css" rel="stylesheet" />
  <link href="../../../resources/plugins/froala/froala_editor.pkgd.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../../../resources/plugins/jqueryui/jquery-ui.min.css" />
  <link rel="stylesheet" href="../../../resources/plugins/fullcalendar/fullcalendar.css" />
  <link rel="stylesheet" href="../../../resources/css/style.css" />
  <script src="../../../resources/plugins/jquery-3.7.1.min.js"></script>
  <script src="../../../resources/plugins/swiper/swiper-bundle.min.js"></script>
  <script src="../../../resources/plugins/selectric/jquery.selectric.js"></script>
  <script src="../../../resources/plugins/gsap/gsap.min.js"></script>
  <script src="../../../resources/plugins/datepicker/tui-time-picker.js"></script>
  <script src="../../../resources/plugins/datepicker/tui-date-picker.js"></script>
  <script src="../../../resources/js/common-ui.js"></script>
  <script src="../../../resources/plugins/dropzone/dropzone.min.js"></script>
  <script src="../../../resources/plugins/cropper/cropper.js"></script>
  <script src="../../../resources/plugins/froala/froala_editor.pkgd.min.js"></script>
  <script src="../../../resources/plugins/jqueryui/jquery-ui.min.js"></script>
  <script src="../../../resources/plugins/fullcalendar/fullcalendar.js"></script>
  <script src="../../../resources/plugins/fullcalendar/popper.min.js"></script>
  <script src="../../../resources/plugins/fullcalendar/tooltip.min.js"></script>
  <script src="../../../resources/plugins/fullcalendar/index.global.min.js"></script>
  <script src="../../../resources/plugins/fullcalendar/ko.global.js"></script>
  <script src="../../../resources/js/base.js"></script>
  <script src="../../../resources/js/join-action.js"></script>
  <script src="../../../resources/js/util.js"></script>
  <title>대학내일, 20대를 위한 라이프 매거진</title>


  <script>
    darkModeHandler.init();
  </script>

</head>

<body>
  <div id="container">
    <!-- 헤더 -->

    <header id="header">
      <div class="section-inner">
        <div class="left-box">
          <div class="logo">
            <a href="../main/main.html">
              <h1><img src="../../../resources/images/logo.png" alt="20 대학내일" /></h1>
            </a>
          </div>
          <nav class="nav">
            <div class="nav-list">
              <div class="nav-item">
                <a href="../magazine/magazine.html" class="nav-btn">매거진</a>
              </div>
              <div class="nav-item">
                <a href="../voice/voice.html" class="nav-btn">글 쓰는 20대</a>
              </div>
              <div class="nav-item">
                <a href="../community/community.html" class="nav-btn fc-g2">커뮤니티</a>
              </div>
              <div class="nav-item">
                <a href="../schedule/schedule.html" class="nav-btn fc-g2">캘린더</a>
              </div>
            </div>
          </nav>
        </div>
        <div class="right-box">
          <div class="menu-box"  id="login">
          </div>
        </div>

        <!-- 검색창 -->
        <div class="search-bar-view-box">
          <div class="search-bar-box">            
            <button type="button" class="search-button" id="search-button-base1">
              <i class="icon-box icon-search"></i>
              <span>검색하기</span>
            </button>
            <div class="input-cover">
              <label for="search" class="form-label txt-hidden">검색</label>
              <input type="text" id="searchKeyword1" name="search" title="검색" class="form-input" autocomplete="off" placeholder="검색하실 내용을 입력하세요." />
            </div>
            <button type="button" class="close-btn">닫기</button>
          </div>
        </div>
        <!-- //검색창 -->

        <div class="mobile-box">
          <button type="button" class="mobile-navigation-menu" id="btnAllmenuOpen" onclick="mobileMenuController.open('','#allMenuContainer', false)">
            <span class="icon"></span>
          </button>
          <div class="logo">
            <a href="../main/main.html">
              <h1><img src="../../../resources/images/logo.png" alt="20 대학내일" /></h1>
            </a>
          </div>
          <!-- 로그인 후 -->
          <div class="login-box" id="login-box">
          </div>
          <!-- //로그인 후 -->
        </div>
      </div>
    </header>
    <div class="all-menu-container" id="allMenuContainer">
      <div class="menu-inner">
        <div class="menu-wrapper">
          <div class="menu-header">
            <button type="button" class="btn-menu-close" onclick="mobileMenuController.close('#btnAllmenuOpen', '#allMenuContainer')"><span>닫기</span></button>
            <div class="user-info-box" id="loginMobile">
            </div>
          </div>
          <!-- 검색창 -->
          <div class="search-bar-box">
            <div class="input-cover">
              <label for="search" class="form-label txt-hidden">검색</label>
              <input type="text" id="searchKeyword2" name="search" title="검색" class="form-input" autocomplete="off" placeholder="검색하실 내용을 입력해 보세요." />
            </div>
            <button type="button" class="search-button" id="search-button-base2">
              <i class="icon-box icon-search"></i>
              <span>검색하기</span>
            </button>
          </div>
          <!-- //검색창 -->
          <ul class="menu-list" id="mobile-menu">
          </ul>
          <div class="add-btn-box" id="mobile-menu-footer">
            </div>
        </div>
      </div>
    </div>


    <!-- // 헤더 -->

    <!-- 컨텐츠 -->
    <main id="content">
      <section class="sub-section-wrap sign-up-content-area">
        <div class="section-inner">
          <div class="sub-section-title">
            <h2>대학내일 통합회원 가입</h2>
          </div>
          <div class="article-aside-inner">
            <aside class="aside-content-box">
              <div class="sign-up-flow-box">
                <div class="sign-up-flow-box-item active"><i class="icon-box icon-sign-check"></i>회원 인증</div>
                <div class="arrow"><i class="icon-box icon-arrow-down-gray">화살표</i></div>
                <div class="sign-up-flow-box-item active"><i class="icon-box icon-pen-plus"></i>정보 입력</div>
                <div class="arrow"><i class="icon-box icon-arrow-down-gray">화살표</i></div>
                <div class="sign-up-flow-box-item"><i class="icon-box icon-box-check"></i>가입 완료</div>
              </div>
            </aside>
            <!-- //aside-content-box -->
            <div class="article-write-box-wrap">
              <form action="">
                <div class="article-write-box article-subject-show">
                  <div class="subject"><strong>기본 정보</strong></div>
                  <div class="input-cover-wrap">
                    <div class="input-cover input-cover-half" id="idForm">
                      <!--
                      <label for="id" class="form-label">아이디</label>
                      <input type="text" id="id" name="id" title="아이디" class="form-input" autocomplete="off" readonly value="univ20official@univ.me" />
                      -->
                    </div>
                    <!-- 아이디 -->
                    <div class="input-cover input-cover-half">
                      <label for="name" class="form-label">이름</label>
                      <input type="text" id="name" name="name" title="이름" class="form-input" autocomplete="off" />
                    </div>
                    <!-- 이름 -->
                    <div class="input-cover input-cover-half">
                      <label for="name" class="form-label">생년월일</label>
                      <div class="select-box-container-box">
                        <div class="select-box-container large">
                          <label class="form-label txt-hidden">년</label>
                          <select name="select" class="form-select disable-color" id="htmlYear">
                            <option value="">생년</option>
                            <option value="옵션1">2010</option>
                          </select>
                        </div>
                        <div class="select-box-container large">
                          <label class="form-label txt-hidden">월</label>
                          <select name="select" class="form-select disable-color" id="htmlMonth">
                            <option value="">월</option>
                            <option value="옵션1">1월</option>
                          </select>
                        </div>
                        <div class="select-box-container large">
                          <label class="form-label txt-hidden">일</label>
                          <select name="select" class="form-select disable-color" id="htmlDate">
                            <option value="">일</option>
                            <option value="옵션1">1일</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <!-- 생년월일 -->

                    <!-- 이메일 가입시에만 노출 (영문, 숫자, 특문 조합 8자 이상) -->
                    <div class="input-cover type-change input-cover-half" id='pwd'>
                      <!-- label의 for값과 input id값이 동일해야합니다. -->
                      <div class="cover-inner">
                        <label for="password" class="form-label">비밀번호</label>
                        <input type="password" id="password1"  title="비밀번호" class="form-input" autocomplete="off" placeholder="영문, 숫자, 특문 조합 8자 이상"  onchange="onCheckPassword1()"/>
                        <span class="etc-right">
                            <button type="button" class="btn-type-change">비밀번호 보기/감추기</button>
                          </span>
                      </div>
                      <div class="form-guide-text font warning" id="pw-valid1"></div>
                    </div>
                    <!-- 비밀번호 -->
                    <div class="input-cover type-change input-cover-half" id="confirmPwd">
                      <!-- label의 for값과 input id값이 동일해야합니다. -->
                      <div class="cover-inner">
                        <label for="password" class="form-label">비밀번호 확인</label>
                        <input type="password" id="password2"  title="비밀번호 확인" class="form-input" autocomplete="off" placeholder="영문, 숫자, 특문 조합 8자 이상" onchange="onCheckPassword2()" />
                        <span class="etc-right">
                            <button type="button" class="btn-type-change">비밀번호 보기/감추기</button>
                          </span>
                      </div>
                      <div class="form-guide-text font warning" id="pw-valid2"></div>
                    </div>
                    <!-- 비밀번호 확인 -->
                    <!-- //이메일 가입시에만 노출 -->
                            
                    <div class="form-guide-text-wrap">
                      <div class="form-guide-text font">※ 만 19세 이상만 가입 가능합니다.</div>
                      <div class="form-guide-text font">※ 아이디(이메일) 분실 시 생년월일 정보가 필요합니다. 정확하게 입력해 주세요.</div>
                    </div>
                  </div>
                </div>
                <!-- 기본 정보 -->
                <div class="article-write-box article-subject-show">
                  <div class="subject"><strong>부가 정보</strong></div>
                  <div class="input-cover-wrap">
                    <div class="input-cover">
                      <label for="" class="form-label">프로필 이미지(선택)</label>

                      <div class="thumbnail-upload-box profile-image">
                        <div class="thumbnail-dropzone-box">
                          <div class="dropzone" id="cropDropzone">
                            <div class="dz-message" data-dz-message>
                              <span class="icon-box icon-picture">그림 아이콘</span>
                              <span class="text">
          프로필 사진으로 등록할 이미지를<br />
          이곳에 드래그하거나 클릭해서 등록해 주세요.
        </span>
                            </div>
                          </div>
                          <div class="cropzone-crop-box"></div>
                        </div>
                        <!-- //thumbnail-dropzone-box -->
                        <div class="cropzone-image-box"></div>
                        <!-- //cropzone-image-box -->
                        <div class="cropzone-control-box">
                          <button type="button" class="btn full bg-black crop-save-btn">등록하기</button>
                          <div class="half-box">
                            <button type="button" class="btn full bg-g1 crop-delete-btn">삭제</button>
                            <button type="button" class="btn full bg-black crop-edit-btn">수정</button>
                          </div>
                        </div>
                        <!-- //cropzone-control-box -->
                      </div>
                      <div class="info-text">
                        <p class="text">※ 프로필 이미지는 1장만 설정할 수 있습니다.</p>
                        <p class="text">
                          ※ 5MB 이하의 JPG, PNG, GIF 이미지만 업로드 가능합니다.
                        </p>
                        <p class="text">※ 권장 이미지 사이즈는 144px * 144px, 최소 이미지 사이즈는 72px * 72px 입니다.</p>
                      </div>


                      <!-- //profile-upload-box -->
                    </div>
                    <!-- 프로필 이미지(선택) -->
                    <div class="input-cover input-cover-half">
                      <label for="nickname" class="form-label">닉네임</label>
                      <div class="form-btn-with-container">
                        <input type="text" id="nickname" name="nickname" title="닉네임" class="form-input" autocomplete="off" />
                        <button type="button" class="btn medium bg-wh" onclick="checkNickname()">중복 확인</button>
                      </div>
                    </div>
                    <!-- 닉네임 -->
                    <div class="input-cover">
                      <label for="email" class="form-label">이메일</label>
                      <input type="text" id="email" name="email" title="이메일" class="form-input" autocomplete="off" />
                      <div class="form-guide-text font">※ 수신 가능한 이메일 주소를 정확히 입력하셔야 대학내일의 주요 공지를 받아보실 수 있습니다.</div>
                    </div>
                    <!-- 이메일 -->
                    <div class="input-cover">
                      <label for="instargram" class="form-label">인스타그램(선택)</label>
                      <input type="text" id="instargram" name="instargram" title="인스타그램" class="form-input" autocomplete="off" />
                    </div>
                    <!-- 인스타그램(선택) -->
                    <div class="input-cover">
                      <label for="instargram" class="form-label">유튜브(선택)</label>
                      <input type="text" id="youtube" name="instargram" title="유튜브" class="form-input" autocomplete="off" />
                    </div>
                    <!-- 유튜브(선택) -->
                    <div class="input-cover">
                      <label for="instargram" class="form-label">SNS 공개 여부</label>
                      <div class="selector-wrapper horizontal selector-wrapper-radio">
                        <div class="selector-cover radio">
                          <label class="label">
                            <input type="radio" name="byline-radio" id="byline-radio-0" checked />
                            <span class="selector-text">
                                <span class="selector"></span>
                            공개 안함
                            </span>
                          </label>
                        </div>
                        <div class="selector-cover radio">
                          <label class="label">
                            <input type="radio" name="byline-radio" id="byline-radio-1" />
                            <span class="selector-text">
                                <span class="selector"></span>
                            이메일
                            </span>
                          </label>
                        </div>
                        <div class="selector-cover radio">
                          <label class="label">
                            <input type="radio" name="byline-radio" id="byline-radio-2" />
                            <span class="selector-text">
                                <span class="selector"></span>
                            인스타그램
                            </span>
                          </label>
                        </div>
                        <div class="selector-cover radio">
                          <label class="label">
                            <input type="radio" name="byline-radio" id="byline-radio-3" />
                            <span class="selector-text">
                                <span class="selector"></span>
                            유튜브
                            </span>
                          </label>
                        </div>
                      </div>
                      <div class="form-guide-text font">※ 선택한 개인정보는 내가 작성한 매거진 기사에 노출됩니다.</div>
                    </div>
                    <!-- SNS 공개 여부 -->
                    <div class="input-cover input-cover-half">
                      <label for="phone" class="form-label">연락처</label>
                      <div class="form-btn-with-container">
                        <input type="text" id="phone" name="phone" title="연락처" class="form-input" autocomplete="off" />
                        <button type="button" class="btn medium bg-wh" onclick="getCodesPhone()">연락처 인증</button>
                      </div>
                      <div class="form-guide-text font">※ 연락처를 입력하시면, 이메일로 안내가 어려울 경우 별도 연락을 드립니다.</div>
                    </div>
                    <!-- 연락처 -->
                    <div class="input-cover input-cover-half">
                      <label for="checkphone" class="form-label">인증 번호</label>
                      <div class="form-btn-with-container">
                        <input type="text" id="checkphone" name="checkphone" title="인증 번호" class="form-input" autocomplete="off" placeholder="인증 번호 입력" />
                        <button type="button" class="btn medium bg-wh" onclick="postCodeConfirmPhone()" id="checkphone-button">인증하기</button>
                      </div>
                    </div>
                    <!-- 연락처 인증 -->
                  </div>
                </div>
                <!-- 부가 정보 -->
                <div class="article-write-box article-subject-show">
                  <div class="subject"><strong>학교 정보(선택)</strong></div>
                  <div class="write-info-text-box">
                    <i class="icon-box icon-bulb"></i>
                    <div class="text-box">
                      <p>학교 정보를 입력하시면 학생회원으로 가입됩니다. <a href="javascript:void(0);" class="underline-text">혜택 보기</a></p>
                      <p>학교 메일 계정이 없거나 외국 소재 대학에 다니는 경우, 문의/신고 게시판 내 &lt;사이트 이용 문의&gt; 카테고리로 문의해 주세요.</p>
                      <!-- <p>학교 메일 계정이 없거나 외국 소재 대학에 다니는 경우, 문의/신고 게시판 내 <a href="../notice/register.html" class="">&lt;사이트 이용 문의&gt;</a> 카테고리로 문의해 주세요.</p> -->
                    </div>
                  </div>
                  <div class="input-cover-wrap">
                    <div class="input-cover input-cover-half">
                      <label for="schoolname" class="form-label">학교 이름</label>
                      <input type="text" id="schoolid" name="id" title="학교 이름" class="form-input" autocomplete="off" readonly value="" />
                    </div>
                    <!-- 학교 이름 -->
                    <div class="input-cover input-cover-half">
                      <label for="schoolmail" class="form-label">학교 메일</label>
                      <div class="form-btn-with-container">
                        <input type="text" id="schoolmail" name="schoolmail" title="학교 메일" class="form-input" autocomplete="off" />
                        <button type="button" class="btn medium bg-wh" onclick="getCodesSchool()">인증 번호 받기</button>
                      </div>
                    </div>
                    <!-- 학교 메일 -->
                    <div class="input-cover input-cover-half">
                      <label for="checknumber" class="form-label">인증 번호</label>
                      <div class="form-btn-with-container">
                        <input type="text" id="checknumber" name="checknumber" title="인증 번호" class="form-input" autocomplete="off" placeholder="인증 번호 입력" />
                        <button type="button" class="btn medium bg-wh" onclick="postCodeConfirm()" id="checkschool-button">인증하기</button>
                      </div>
                    </div>
                    <!-- 인증 번호 -->
                  </div>
                </div>
                <!-- 학교 정보(선택) -->
                <div class="btn-wrap">
                  <a href="../join/sso.html" class="btn bg-g4 cancel-btn">취소</a>
                  <button type="button" class="btn bg-black write-btn" onclick="postUserRegister()">가입</button>
                </div>
              </form>
            </div>
            <!-- //article-write-box-wrap -->
          </div>
        </div>
      </section>
      <!-- //write-box-area -->
    </main>
    <!-- //컨텐츠 -->

    <!-- 푸터 -->
    <footer id="footer">
      <div class="section-inner">
        <div class="top-box">
          <div class="nav-box">
            <div class="nav-box-item">
              <a href="../notice/list.html" class="nav-box-btn">공지사항</a>
            </div>
            <div class="nav-box-item">
              <a href="../notice/faq.html" class="nav-box-btn">자주 묻는 질문</a>
            </div>
            <div class="nav-box-item">
              <a href="../notice/register.html" class="nav-box-btn" id="qna-base2">문의/신고하기</a>
            </div>
          </div>
        </div>
        <div class="bottom-box">
          <div class="info-box">
            <strong>(주)대학내일</strong>
            <div class="info-box-list">
              <div class="info-box-item">
                <span>주소 : 서울 마포구 독막로 331</span>
                <span>전화번호 : 02-735-3800</span>
              </div>
              <div class="info-box-item">
                <span>등록번호 : 서울 아 03647</span>
                <span>등록일자 : 2015년 3월 24일</span>
                <span class="mo-block">발행일자 : 2015년 3월 24일</span>
              </div>
              <div class="info-box-item">
                <span>제호 : 대학내일</span>
                <span>발행·편집인 : 김영훈</span>
                <span class="mo-block">청소년 보호 책임자 : 홍승우</span>
              </div>
              <div class="copyright">
            <span> ©UNIVTOMORROW. ALL RIGHTS RESERVED. </span>
            <div class="logo-foundation-box">
              <span> 본 서비스는 </span>
              <img src="../../../resources/images/logo-korea-press-foundation.png" class="logo-foundation" alt="한국언론진흥재단" />
              <span>의 지원을 받아 개발되었습니다.</span>
            </div>
          </div>
            </div>
          </div>
          <div class="nav-box">
            <div class="nav-box-item">
              <a href="../privacy/privacy.html" class="nav-box-btn"><span>개인정보처리방침</span></a>
            </div>
            <div class="nav-box-item">
              <a href="../privacy/terms.html" class="nav-box-btn">이용약관</a>
            </div>
            <div class="nav-box-item">
              <a href="../privacy/copyright.html" class="nav-box-btn">저작권 정책</a>
            </div>
            <div class="nav-box-item">
              <a href="../privacy/youth.html" class="nav-box-btn">청소년 보호 정책</a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- // 푸터 -->
  </div>
  <div class="layer-popup full-scroll info-content-popup" id="alertPopup">
    <div class="popup-container small">
      <div class="popup-header">
        <div class="popup-title txt-hidden">
          <strong>알림</strong>
        </div>
      </div>
      <div class="popup-content">
        <div class="popup-inner">
          <div class="info-content-box">
            <div class="text-box" id="alertMessage">
              <strong>
                제목입니다.
              </strong>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="btn-area">
          <button type="button" class="btn btn-ok popup-close">확인</button>
        </div>
      </div>
    </div>
  </div>


  <script>
    // dropzone 라이브러리 참고 - https://docs.dropzone.dev/
    // cropper.js 참고 https://fengyuanchen.github.io/cropperjs/
    // 드래그존
    var croppedFile = null;
    function dropzoneCropperScript(option) {
      // dropzone 라이브러리 참고 - https://docs.dropzone.dev/
      // cropper.js 참고 https://fengyuanchen.github.io/cropperjs/
      var id = option.id;
      var minCroppedWidth = option.width;
      var minCroppedHeight = option.height;
      var maxCroppedWidth = option.width * 2;
      var maxCroppedHeight = option.height * 2;

      Dropzone.options[id] = {
        url: '#', // url 경로
        uploadMultiple: false, // 다중업로드 기능
        addRemoveLinks: true, //삭제버튼 표시 여부
        dictRemoveFile: '파일삭제', //삭제버튼 표시 텍스트
        paramName: 'file', //서버에서 사용할 formdata 이름 설정 (default는 file)
        autoProcessQueue: false, // 자동으로 보내기. true : 파일 업로드 되자마자 서버로 요청, false : 서버에는 올라가지 않은 상태. 따로 this.processQueue() 호출시 전송
        maxFiles: 1, // 업로드 파일수
        maxFilesize: 5, // MB 최대업로드용량 : 10 -> 100MB
        // 하나씩 넘겨야 에러 없음
        parallelUploads: 1, // 동시파일업로드 수(이걸 지정한 수 만큼 여러파일을 한번에 컨트롤러에 넘긴다.)
        acceptedFiles: '.jpeg,.jpg,.png,.gif,.JPEG,.JPG,.PNG,.GIF', // 이미지 파일 포맷만 허용
        clickable: true, // 클릭가능여부
        thumbnailWidth: null,
        thumbnailHeight: null,

        init: function() {
          // 2개이상이면 기존 이미지 제거
          this.on('maxfilesexceeded', function(file) {
            this.removeAllFiles();
            this.addFile(file);
          });
        },

        error: function(file, errorMessage) {
          if (errorMessage.indexOf('File is too big') !== -1) {
            alert('업로드 가능한 파일 크기를 초과했습니다.');
            // 업로드 실패한 파일 제거
            this.removeFile(file);
          } else if (errorMessage.indexOf("You can't upload files of this type") !== -1) {
            alert('지원하지 않는 파일 형식입니다.');
            // 업로드 실패한 파일 제거
            this.removeFile(file);
          } else {
            // alert('파일 업로드 중 오류가 발생했습니다.');
          }
        },

        // 파일 업로드 시
        accept: function(file, done) {
          let _this = this;
          let _fileName = file.name;
          // 이미지 가저온 후 드롭존 이미지 제거
          this.removeFile(file);

          // Create an image node for Cropper.js
          var image = new Image();
          image.src = URL.createObjectURL(file);
          var $uploadBox = $(this.element).closest('.thumbnail-upload-box');

          $uploadBox.find('.cropzone-crop-box').append(image);
          $uploadBox.find('.cropzone-crop-box').addClass('show');
          // 버튼 활성화
          $uploadBox.find('.cropzone-control-box').removeClass('active-edit');
          $uploadBox.find('.cropzone-control-box').addClass('active');

          // 등록하기
          $uploadBox.find('.crop-save-btn').off('click');
          $uploadBox.find('.crop-save-btn').on('click', function() {
            let imgSrc = cropper.getCroppedCanvas({}).toDataURL();

            // 수정 이미지 저장
            const binary = atob(imgSrc.split(',')[1]);
            const array = [];
            for (let i = 0; i < binary.length; i++) {
              array.push(binary.charCodeAt(i));
            }
            croppedFile = new File([new Uint8Array(array)], _fileName, {type: 'image/png'});

            $uploadBox.find('.cropzone-image-box').empty();
            $uploadBox.find('.cropzone-image-box').append('<img src="' + imgSrc + '" alt="" />');
            $uploadBox.find('.cropzone-crop-box').removeClass('show');
            $uploadBox.find('.cropzone-image-box').addClass('show');
            // 버튼 활성화
            $uploadBox.find('.cropzone-control-box').removeClass('active');
            $uploadBox.find('.cropzone-control-box').addClass('active-edit');
            // 드롭존 숨기기
            $uploadBox.find('.thumbnail-dropzone-box').addClass('hide');
            // 박스 크기 조절
            $uploadBox.addClass('crop');
          });

          // 수정하기
          $uploadBox.find('.crop-edit-btn').off('click');
          $uploadBox.find('.crop-edit-btn').on('click', function() {
            $uploadBox.find('.cropzone-crop-box').addClass('show');
            $uploadBox.find('.cropzone-image-box').empty();
            $uploadBox.find('.cropzone-image-box').removeClass('show');
            // 버튼 활성화
            $uploadBox.find('.cropzone-control-box').removeClass('active-edit');
            $uploadBox.find('.cropzone-control-box').addClass('active');
            // 드롭존 보이기
            $uploadBox.find('.thumbnail-dropzone-box').removeClass('hide');
            // 박스 크기 조절
            $uploadBox.removeClass('crop');
            cropper.onResize();
          });

          // 삭제하기
          $uploadBox.find('.crop-delete-btn').off('click');
          $uploadBox.find('.crop-delete-btn').on('click', function() {
            _this.removeAllFiles(file);
            $uploadBox.find('.cropzone-crop-box, .cropzone-image-box').empty();
            $uploadBox.find('.cropzone-crop-box, .cropzone-image-box').removeClass('show');
            // 버튼 활성화
            $uploadBox.find('.cropzone-control-box').removeClass('active-edit');
            $uploadBox.find('.cropzone-control-box').removeClass('active');
            // 드롭존 보이기
            $uploadBox.find('.thumbnail-dropzone-box').removeClass('hide');
            // 박스 크기 조절
            $uploadBox.removeClass('crop');
          });

          // Create Cropper.js
          var cropper = new Cropper(image, {
            // https://calculator-online.net/ko/ratio-calculator/
            // 1056 : 584 = 9 : 4.977
            // 옵션
            autoCropArea: 1,
            aspectRatio: aspectRatio(option.width, option.height), // 비율
            data: {
              width: minCroppedWidth,
              height: minCroppedHeight,
            }, // 잘라낼 범위의 기본 값을 가로, 세로

            ready() {
              var cropper = this.cropper;
              var containerData = cropper.getContainerData();
              var cropBoxData = cropper.getCropBoxData();

              // 정중앙 배치
              cropper.setCropBoxData({
                top: containerData.height / 2 - cropBoxData.height / 2,
                left: containerData.width / 2 - cropBoxData.width / 2,
              });
            },

            crop: function(event) {
              var width = Math.round(event.detail.width);
              var height = Math.round(event.detail.height);

              if (width < minCroppedWidth || height < minCroppedHeight || width > maxCroppedWidth || height > maxCroppedHeight) {
                cropper.setData({
                  width: Math.max(minCroppedWidth, Math.min(maxCroppedWidth, width)),
                  height: Math.max(minCroppedHeight, Math.min(maxCroppedHeight, height)),
                });
              }
            },
          });

          // 이미지 비율 계산
          function aspectRatio(width, height) {
            const gcd = (...arr) => {
              const _gcd = (x, y) => (!y ? x : gcd(y, x % y));
              return [...arr].reduce((a, b) => _gcd(a, b));
            };

            const gcdResult = gcd(width, height);

            return width / gcdResult / (height / gcdResult);
          }
        },
      };
    }
  </script>


  <!-- 썸네일 스크립트 -->
  <script>
    // 이미지 첨부 및 크롭 스크립트
    dropzoneCropperScript({
      id: 'cropDropzone',
      width: 72, // 최소 width
      height: 72, // 최소 height
    });
  </script>

  <script>
    $(document).ready(function() {
      // 비동기 실행후 재실행 할 경우
      window.selectBoxColorChange(); // selectBoxColorChange
    });
  </script>
</body>

</html>